---
layout: main
title: Schedule
permalink: /schedule/
---

<section id="event">
  <div class="container inner-md">
    <div class="row">

      {% if site.event.public %}

      <div class="col-md-8">
        <div id="owl-work" class="owl-carousel owl-inner-pagination owl-inner-nav owl-ui-md">

          <div>

            {% for d in site.event.schedule %}
              {% assign i = forloop.index %}
              {% if i <= 2 %}

                <div class="col-md-6">
                  <table class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th class="text-center" colspan="2">{{ d[0] }}</th>
                      </tr>
                    </thead>
                    <tbody>

                      {% for item in d[1] %}
                        {% assign j = forloop.index0 %}
                        <tr>
                          <td>{{ d[1][j][0] }}</td>
                          <td>{{ d[1][j][1] }}</td>
                        </tr>
                      {% endfor %}

                    </tbody>

                  </table>
                </div>
              {% endif %}

            {% endfor %}

          </div>

        </div>
      </div>

      <div class="col-md-4 inner-left-sm">
        <header>
          <h2>{{ site.event.name }}</h2>
          <p class="text-small">{{ site.event.details }}</p>
          <a href="{{ site.event.tickets }}" class="btn btn-large">Get a Ticket</a>

          <ul class="item-details inner-top-xs outer-top-xs border-top">
            <li class="location">{{ site.event.location }}</li>
            <li class="date">{{ site.event.date | date: '%d %B %Y' }}</li>
            <li class="time">{{ site.event.date | date: '%I:%M %p' }}</li>
          </ul>
        </header>
      </div>

      {% else %}

        <div class="col-md-8 col-sm-9 center-block text-center">
          <header>
            <h1>Nothing scheduled</h1>
            <p>There are currently no upcoming events. Please check back soon.</p>
          </header>
        </div>

      {% endif %}

    </div>
  </div>
</section>
