$breakpoint-md: 768px;
$breakpoint-lg: 992px;

.badge {
  z-index: 999;
  width: 100px;
  position: absolute;
  right: 0;
  top: 0;

  @media screen and (max-width: $breakpoint-lg) {
    width: 80px;
  }

  @media screen and (max-width: $breakpoint-md) {
    width: 60px;
    right: 15px;
  }
}
