.mdx {
  margin-bottom: 5em;
  color: var(--body-foreground-colour);
  stroke: var(--body-foreground-colour);
  ::marker {
    color: var(--body-foreground-colour);
  }

  a[class*="anchor"] {
    margin-right: 0.5em;
  }
}

.header {
  font-weight: bold;
  font-size: 4em;

  text-decoration: none;
}

.subheading {
  font-weight: lighter;
  font-size: 3em;
  color: var(--body-foreground-colour);

  margin-bottom: 1em;
}

.childLink {
  color: var(--body-foreground-colour);
}

.sidebarContainer {
  color: var(--body-foreground-colour);

  ::marker {
    color: var(--body-foreground-colour);
  }

  .toc {
    list-style: upper-roman;
  }

  .peopleContainerContainer {
    margin-bottom: 1em;
    display: grid;
    gap: 0.5em;
    .personContainer {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      gap: 0.5em;
      .personImage {
        width: 2em;
        height: 2em;
        border-radius: 1em;
      }
    }
  }
}
