<section id="faq" class="light-bg">
    <div class="container">
        <div class="row justify-content-md-center">
            <div id="faq-title-wrapper" class="col-sm-4 text-center">
                <h2 class="display-4">FAQ</h2>

                <p class="text-muted">Questions people usually have.</p>


            </div>
        </div>

        <div id="faq-items-container" class="row">
            <div class="col-sm-4">
                <div class="faq-item">
                    <h3 class="text-left text-muted">What's a hackathon?</h3>
                    <p>
                        Hackathons are 'invention marathons', where people build & share their creations over the course of a weekend in a relaxed and welcoming atmosphere.
                    </p>
                </div>

                <div class="faq-item">
                    <h3 class="text-left text-muted">Do I have to study Computer Science?</h3>
                    <p>
                        Nope! You don't have even have to know how to program, though it is obviously helpful.
                    </p>
                </div>

                <div class="faq-item">
                    <h3 class="text-left text-muted">Can you reimburse travel expenses?</h3>
                    <p>
                        Unfortunately, this isn't in our budget :(
                    </p>
                </div>

                <div class="faq-item">
                    <h3 class="text-left text-muted">Who can attend?</h3>
                    <p>
                        Any student aged 18+ and currently enrolled on a university degree programme can attend.
                    </p>
                </div>
            </div>

            <div class="col-sm-4 ">
                <div class="faq-item " >
                    <h3 class="text-left text-muted">How much does it cost?</h3>
                    <p>
                        0, nothing, null, void. Royal Hackaway is free to attend with everything provided by our super sponsors!
                    </p>
                </div>

                <div class="faq-item">
                    <h3 class="text-left text-muted">What's the deal with food?</h3>
                    <p>
                        We'll provide you with food across the weekend free of charge. Please make sure you let us know of any dietary requirements.
                    </p>
                </div>

                <div class="faq-item">
                    <h3 class="text-left text-muted">Can I stay overnight?</h3>
                    <p>
                        You'll be able to work overnight in the venue. A relaxation area will be available for you to crash in.
                    </p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="faq-item">
                    <h3 class="text-left text-muted">Who owns my project?</h3>
                    <p>
                        You and your team own anything you create. Why not make it open source, on <a href="https://github.com" target="_blank">GitHub</a>?
                    </p>
                </div>

                <div class="faq-item">
                    <h3 class="text-left text-muted" >Can I start before I arrive?</h3>
                    <p>
                        While you can explore ideas, you cannot write a line of code for your project before the event itself.
                    </p>
                </div>

                <div class="faq-item">
                    <h3 class="text-left text-muted">What shall I bring?</h3>
                    <p>
                        Bring your laptop, charger(s) and any other devices you wish to work on at the hackathon.
                        Don't forget to bring <b>valid student ID.</b>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

