<section id="faq" class="light-bg">
    <div class="container">
        <div class="row justify-content-md-center">
            <div id="faq-title-wrapper" class="col-sm-4 text-center">
                <h2 class="display-4">FAQ</h2>

                <p class="text-muted">Questions people usually have.</p>


            </div>
        </div>

        <div id="faq-items-container" class="row">
            <div class="col-sm-4">
                <div class="faq-item">
                    <h3 class="text-left text-muted">What's a hackathon?</h3>
                    <p>
                        Hackathons are programming competitions where people work together to make something cool over the course of a weekend.
                    </p>
                </div>

                <div class="faq-item">
                    <h3 class="text-left text-muted">Do I have to study Computer Science?</h3>
                    <p>
                        Nope! You don't have even have to know how to program, though it obviously helps.
                    </p>
                </div>

                <div class="faq-item">
                    <h3 class="text-left text-muted">Can you reimburse travel expenses?</h3>
                    <p>
                        We wish we could, but we don't have the budget.
                    </p>
                </div>

                <div class="faq-item">
                    <h3 class="text-left text-muted">Who can attend?</h3>
                    <p>
                        Anyone 18+ who is either a current university student or has graduated in the past six months.
                    </p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="faq-item">
                    <h3 class="text-left text-muted">Want to join the committee?</h3>
                    <p>
                        <a href="https://forms.gle/JDShRhMXXsLzenRx9">Submit an application!</a>
                    </p>
                </div>
				
                <div class="faq-item">
                    <h3 class="text-left text-muted">How much does it cost?</h3>
                    <p>
                        £0 and your weekend. Royal Hackaway is free to attend with everything provided by our wonderful sponsors!
                    </p>
                </div>

                <div class="faq-item">
                    <h3 class="text-left text-muted">What's the deal with food?</h3>
                    <p>
                        We'll provide you with food across the weekend free of charge. Please make sure you let us know of any dietary requirements when signing up for your ticket.
                    </p>
                </div>

                <div class="faq-item">
                    <h3 class="text-left text-muted">Can I go home overnight/leave early?</h3>
                    <p>
                        Short answer: no.<br />
						If you need to leave, make sure you have a good reason and check out with a member of staff. This is for fire safety and accountability reasons.
                    </p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="faq-item">
                    <h3 class="text-left text-muted">Who owns my project?</h3>
                    <p>
                        You and your team own anything you create. We recommend making it open source on <a href="https://github.com" target="_blank">GitHub</a>.
                    </p>
                </div>

                <div class="faq-item">
                    <h3 class="text-left text-muted" >Can I start before I arrive?</h3>
                    <p>
                        While you can explore ideas, you cannot start implementing your project before the specified time.
                    </p>
                </div>

                <div class="faq-item">
                    <h3 class="text-left text-muted">What should I bring?</h3>
                    <p>
                        Bring your laptop, charger(s) and any other devices you wish to work on at the hackathon.
                        Don't forget to bring a <b>valid government ID</b> (or RHUL student ID if you are an RHUL student).
                    </p>
                </div>

                <div class="faq-item">
                    <h3 class="text-left text-muted">Do I need to come with a team?</h3>
                    <p>
                        We'll be making teams after our opening ceremonies, so no pressure! You can if you want, but no more than four hackers per team.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

