<footer class="bg-dark text-light">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <a href="#top"><img class="logo" height="70" src="/assets/images/rh-light.svg" alt="Royal Hackaway"></a>
        <p>{{ site.description }}</p>
      </div>
      

      <div class="col-md-4 col-sm-6 inner">
        <h4>Scheduled Event</h4>

          {% if site.event.public %}

              <ul class="item-details">
                <li class="location">{{ site.event.location }}</li>
                <li class="date">{{ site.event.date | date: '%d %B %Y' }}</li>
                <li class="time">{{ site.event.date | date: '%I:%M %p' }}</li>
              </ul>

              <a href="/schedule" class="txt-btn">More information</a>

          {% else %}
            <p>There are clight-texturrently no upcoming events.</p>
          {% endif %}

      </div>

      <div class="col-md-4 col-sm-6 inner">
        <h4>Contact Us</h4>
        <ul class="contacts">
          <li><a href="mailto:{{ site.email }}"><i class="icon-mail-1 contact"></i> {{ site.email }}</a></li>
        </ul>
      </div>

    </div>
  </div>

  <div class="footer-bottom bg-darker">
    <div class="container">
      <p class="text-center text-light author-attr">
        <i class="icon-code"></i>&nbsp;with&nbsp;<i class="icon-heart"></i>&nbsp;by&nbsp;<a href="https://github.com/Benzi" target="_blank">Benzi</a>
      </p>
    </div>
  </div>
</footer>
