<footer class="bg-dark text-light">
    <div class="container">
        <div class="row">
            <div id="hackaway-foot-desc" class="col-md-4 col-sm-6">
                <a href="#top">
                    <img id="hackaway-logo" class="logo" src="/assets/images/rh-light.svg" alt="Royal Hackaway" />
                </a>
                <p>{{ site.footer-description }}</p>
            </div>

            <div class="col-md-4 col-sm-6 inner">
                <h4>Next Event:</h4>
                {% assign sorted-events = site.events | sort: 'start'%}
                {% assign output = 0 %}
                {% for event in sorted-events %}
                    {% if event.is-over %}
                        <!-- do nothing -->
                    {% elsif event.is-public and event.is-over == false %}
                        {% if output == 0 %}
                            <div class="event-outline-container">
                                <a class="no-hover-style" href="{{ page.slug }}">
                                    <b>{{ event.name }}</b>
                                    <ul class="item-details">
                                        <li class="location">{{ event.location }}</li>
                                        <li class="date">{{ event.start | date: '%d %B %Y' }}</li>
                                        <li class="time">{{ event.start | date: '%I:%M %p' }}</li>
                                    </ul>
                                </a>
                            </div>
                            {% assign output = 1 %}
                        {% endif %}
                        {% elsif event.is-over == "false" and event.is-public %}
                        <p>There are currently no upcoming events.</p>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="col-md-4 col-sm-6 inner">
                <h4>Contact Us</h4>
                <a class="no-hover-style" href="mailto:{{ site.email }}"><i class="contact"></i> {{ site.email }}</a>
            </div>
        </div>
    </div>

    <div class="footer-bottom bg-darker">&nbsp;
        <p class="text-center text-light author-attr">
            <a class="no-hover-style" href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf">Code of Conduct</a>
            <br />
            <i class="icon-code"></i> with <i class="icon-heart"></i>&nbsp;by&nbsp;<a class="text-light"href="https://github.com/royalhackaway/royalhackaway.github.io/graphs/contributors" target="_blank">the Royal Hackaway team</a>
        </p>
    </div>
</footer>
