<header>
  <div class="navbar">
    <div class="navbar-header">
      <div class="container">

        <ul class="social pull-left">
          {% for social in site.socials %}
            <li><a href="{{ social.url }}"><i class="{{ social.icon }}"></i></a></li>
          {% endfor %}
        </ul>

        <a class="navbar-brand" href="/"><img src="/assets/images/rh.svg" class="logo" alt="Royal Hackaway"></a>

        <a class="navbar-toggle btn responsive-menu pull-right" data-toggle="collapse" data-target=".navbar-collapse"><i class="icon-menu-1"></i></a>

      </div>
    </div>

    <div class="yamm">
      <div class="navbar-collapse collapse">
        <div class="container">

          <a class="navbar-brand scroll-to" href="/">
            <img src="/assets/images/rh.svg" class="logo" alt="Royal Hackaway">
          </a>

          <ul class="nav navbar-nav pull-left">
            {% for nav in site.navs %}
              <li><a href="{{ site.url }}#{{ nav.path }}" class="scroll-to" data-anchor-offset="0">{{ nav.name }}</a></li>
            {% endfor %}
          </ul>

        </div>
      </div>
    </div>
  </div>
</header>
