<section id="internet">
  <div class="container inner-sm">
    <div class="row">
      <div class="col-md-4 center-block text-center">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th class="text-center" colspan="2">Get Online</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><b>Network SSID</b></td>
              <td><code>{{ site.event.internet.ssid }}</code></td>
            </tr>
            <tr>
              <td><b>Username</b></td>
              <td><code>{{ site.event.internet.username }}</code></td>
            </tr>
            <tr>
              <td><b>Password</b></td>
              <td><code>{{ site.event.internet.password }}</code></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
