<section id="schedule bg-light">
    <div class="container">
        <div class="row">
                {% for d in page.schedule %}
                    {% assign i = forloop.index %}
                    {% if i <= 2 %}
                        <div class="col-sm">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center" colspan="4">{{ d[0] }}</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for item in d[1] %}
                                        {% assign j = forloop.index0 %}
                                        <tr>
                                            <td>{{ d[1][j][0] }}</td>
                                            <td>{{ d[1][j][1] }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                {% endfor %}
        </div>
    </div>
</section>
