<section id="sponsors">
  <div class="inner-top-md">
    <div class="container">
        <div class="center-block text-center">
          <header>
            <h1>Sponsors</h1>
            <p>Sponsors make this event possible from providing food to awesome APIs and technology. We offer you the chance to engage with the next generation of innovators, to demonstrate your products and teach them new things alongside unique recruitment opportunities.</p>
            <a href="/assets/pdf/sponsordeck.pdf" class="btn btn-primary">Become a Sponsor</a>
          </header>
        </div>


        {% for tier in page.sponsors %}
        <div class="row">
            <h2>{{ tier.name }}</h2>

            {% for sponsor in tier.tier-sponsors%}
                <div class="col-md-4 col-sm-12 justify-content-md-center">
                    <div id="{{ sponsor.name }}" class="col-8 justify-content-md-center sponsor" style="background-color:{{ sponsor.colour }}">
                        <div class="inner-top-xs inner-bottom-xs">
                            <a href="{{ sponsor.link }}">
                                <img class="center-block" src="/assets/images/sponsors/{{ sponsor.image }}" alt="{{ sponsor.name }}">
                            </a>
                        </div>
                        <div>
                            <p class="justified-text">{{ sponsor.description }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endfor %}

    </div>
  </div>
</section>