@import '_config';


.accordion {
  width: 45%;
  margin-right: 1rem;
}

@media only screen and (max-width: $mobile-width) {
  .accordion {
    width: 80%;
    display: block;
    margin: auto auto;
  }
}
/* Style the buttons that are used to open and close the accordion panel */
.accordion-button {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;
}

.accordion_title_container {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  background-color: $secondary-background-colour;
  border-radius: 10px;
  padding: .5rem .5rem;
}
.accordion_title_text {
  justify-content: flex-start;
  text-align: left;
  background-color: $secondary-background-colour;
  border: none;
  
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion_title_container:hover{
  background-color: #f2f2f2;
  .accordion_title_text {
    background-color: #f2f2f2;
  }
}


/* Style the accordion chevron icon */
.accordion__icon {
  margin-left: auto;
  transition: transform 0.6s ease;
}

/* Style to rotate icon when state is active */
.rotate {
  transform: rotate(90deg);
}

/* Style the accordion content panel. Note: hidden by default */
.accordion__content {
  background-color: $primary-background-colour;
  overflow: hidden;
  transition: max-height 0.6s ease;
}


