
jumbotron#event-splash {

}


#event-logo {
  height: auto;
  margin: 5%;
}

#event-splash .btn {
  vertical-align: bottom;
}

#splash-body {
  padding-left: 5vh;
  padding-right: 5vh;
  border-left: white;
}


#event-splash p {
  padding-top: 5vh;
}

#event-splash a {
  margin-top: 10vh;
}

#event-splash h1 {
  margin-top: 2vh;
}
