

#event-logo {
  height: auto;
  margin: 5%;
}


#gmap_canvas {
  width: 100%;
  height: 30vh;
  padding-left: 2%;
  padding-right: 2%;
}

#event-splash > .btn {
  vertical-align: bottom;
}

#event-description > .container{
  padding-top:2vh;
  padding-bottom: 2vh;
}

.jumbotron.half-height{
  margin-bottom: 0;
}

#event-splash > a {
  margin-top: 10vh;
}

#splash-body > p {
  margin-bottom: 3vh;
}

#splash-body {
  margin-top: 1vh;
}

#splash-body > h1{
  padding-top: 0;
}

#splash-body > .lead {
  padding-top: 5vh;
  padding-bottom: 3vh;
}
