.bg-darker{
  background-color: #2e3338;
}

footer {
  margin-top: 5%;
}

.footer-bottom{
  padding: 1%;
  vertical-align: middle;
}

.footer-bottom > p {
  margin-top: 0;
  margin-bottom: 0;
}

#hackaway-foot-desc > p {
  margin-top: 2vh;
}

#hackaway-logo{
  height: 70px;
}


.item-details{
  list-style: none;
  padding-left: 0;
  padding-top: 5px;
  padding-bottom: 0;
}


.event-outline-container {
  padding-top: 5px;
  padding-top: 5px;
}

a.no-hover-style {
    color: inherit;
}
