
.jumbotron.image-bg-center{
  height:100vh;
  text-align: center;
  background: center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


section {
  min-height: 100vh;
  text-align: center;
}
