.backgruond-image.full-height{
  height:100vh;
  padding-top: 20%;
}

section > .container {
  padding-top: 5%;
  padding-bottom: 5%;
}

#top > .jumbotron > .btn {
  margin-top: 5vh;
}

#top > .lead {
  padding-bottom: 5%;
}


#future-events > .container {
  padding: 2%;
}

#future-events > .container .card  {
  margin: 10px;
  background-color: white;
}

section#hackaway-ad {

  background-color: #f48b22;
  box-shadow: 0 10px #d3791f;
  margin-bottom:5%;
  color: #FFFFFF;
}

.card > a {
position: absolute;
top: 0; left: 0;
height: 100%; width: 100%;
}

.card > lead {
  font-weight: lighter;
  font-size: 5;
}
