.jumbotron.image-bg-center{
  height:100vh;
  text-align: center;
  background: center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 20%;
}

section .fullheight {
  min-height: 100vh;
}


section .container {
  padding-top: 5%;
  padding-bottom: 5%;
}

#future-events .container {
  padding: 2%;
}

#future-events .container .card  {
  margin: 10px;
  background-color: white;
}

section#hackaway-ad {

  background-color: #f48b22;
  box-shadow: 0 10px #d3791f;
  margin-bottom:5%;
  color: #FFFFFF;
}

.card a {
position: absolute;
top: 0; left: 0;
height: 100%; width: 100%;
}

.card lead {
  font-weight: lighter;
  font-size: 5;
}
