.jumbotron.image-bg-center{
  height:100vh;
  text-align: center;
  background: center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 20%;
}

section .fullheight {
  min-height: 100vh;
}


section .container {
  padding-top: 5%;
  padding-bottom: 5%;
}

#future-events .container {
  padding: 2%;
}

#future-events .container .card  {
  margin: 10px;
}
