.navbar-brand > img {
  height: 4vh;
}

.navbar-brand {
  margin-left: 5%;
  padding-right: 2%;
  padding-top: 5px;
  margin-bottom: 5px;
}


#compsoc-link.btn{
  background-color: #C32026;
  color: #FFFFFF;
  box-shadow: 0 3px #88161a;
}

.cs-button {
  padding: 10px;
}
