
.sponsor-tier{
  margin-bottom: 2vh;
}

.sponsors {
  margin-top: 2vh;
  margin-bottom: 8vh;
}

.sponsors > .btn {
  margin-top: 7vh;
  margin-bottom: 2vh;
}

.sponsor-tier > .row{
  margin-left: 0;
  margin-right: 0;
}

.sponsor {
  height: 15vh;
  margin: 1vh;
  padding: 5px;
}

.sponsor > img {
  margin-top: auto;
  margin-bottom: auto;
  max-width: 100% !important;
  max-height: 100% !important;
}

#Gitkraken > img {
  height:  8vh;
}



#sponsors-title {
  margin-bottom: 4vh;
}