.sponsor a > img {
  height: 100px;
}
.sponsor {
    height: 300px;
    padding-bottom: 350px;
}
.sponsor_img {
    padding-top: 50px;
    padding-bottom: 50px;
}
.text-center{
    text-align: center;
}
.vertical-center{
    vertical-align:middle;
    padding-bottom:3vh
}

.sponsor_top {
    padding: 30px;
    font-weight: bold;
    font-size: 5vw;
}

#gold-sponsors .col {
    background: gold;
}
#silver-sponsors .col {
    background: silver;
}
#bronze-sponsors .col {
    background: #cd7f32;
}
#partners .col {
    background: #F37021;
}
.justified-text{
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}
.inner{
    padding-top:120px;
    padding-bottom:120px
}
.inner-md{
    padding-top:100px;
    padding-bottom:100px
}
.inner-sm{
    padding-top:80px;
    padding-bottom:80px
}
.inner-xs{
    padding-top:40px;
    padding-bottom:40px
}
.inner-top{
    padding-top:120px
}
.inner-top-md{
    padding-top:100px
}
.inner-top-sm{
    padding-top:80px
}
.inner-top-xs{
    padding-top:40px
}
.inner-bottom{
    padding-bottom:120px
}
.inner-bottom-md{
    padding-bottom:100px
}
.inner-bottom-sm{
    padding-bottom:80px
}
.inner-bottom-xs{
    padding-bottom:40px
}
.inner-left{
    padding-left:75px
}
.inner-left-md{
    padding-left:60px
}
.inner-left-sm{
    padding-left:45px
}
.inner-left-xs{
    padding-left:30px
}
.inner-right{
    padding-right:75px
}
.inner-right-md{
    padding-right:60px
}
.inner-right-sm{
    padding-right:45px
}
.inner-right-xs{
    padding-right:30px
}
.center-block{
    float:none
}