@import "_config";

.hackathonTitle {
  background-image: url("../../assets/images/background/founders-side-orange.jpg");

  @media (prefers-color-scheme: dark) {
    background-image: url("../../assets/images/background/founders-side-dark.jpg");
  }

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: $jumbotron-foreground-colour;
  padding: 5em 0;
  min-height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .name {
    text-transform: lowercase;
    font-weight: bold;
  }
}
