@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import '_config';

.description {
  white-space: pre-wrap;
}

.livestreamContainer {
  position: relative;
  width: 100%;
  padding-top: (100% / 16) * 9;
}

.livestream {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.hackathonTitle {
  background-image: url("../../assets/images/background/founders.svg"), $jumbotron-background-gradient;
  background-position: center, center;
  background-size: contain, auto;
  background-repeat: no-repeat, no-repeat;
  color: $jumbotron-foreground-colour;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1em;
  
  @include media-breakpoint-down(xs) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
