---
---

/*

Author: {{ site.author }}

*/

@import "main";

footer .logo {
  height: 50px;
}
footer .item-details li:before {
  content: none;
}
footer .item-details {
  margin-bottom: 15px;
}
footer p a {
  border-bottom: none;
}
#footer-poster {
  border-radius: 10px;
  width: 100px;
}

section {
  min-height: 100vh;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.sponsor a > img {
  height: 100px;
}
#faq h3, #faq p {
  text-align: center;
}
#mlh-banner {
  display: none;
}
#mlh-banner img {
  height: 10vw;
  padding: 15px;
}

@keyframes colorshift {
  @for $i from 1 through 7 {
    #{percentage(1/6) * ($i - 1)} {
      color: unquote(nth($colors, $i));
    }
  }
}
@keyframes backgroundcolorshift {
  @for $i from 1 through 7 {
    #{percentage(1/6) * ($i - 1)} {
      background: unquote(nth($colors, $i));
    }
  }
}
@keyframes bordercolorshift {
  @for $i from 1 through 7 {
    #{percentage(1/6) * ($i - 1)} {
      border-color: unquote(nth($colors, $i));
    }
  }
}
@keyframes bordertopcolorshift {
  @for $i from 1 through 7 {
    #{percentage(1/6) * ($i - 1)} {
      border-top-color: unquote(nth($colors, $i));
    }
  }
}
@keyframes borderrightcolorshift {
  @for $i from 1 through 7 {
    #{percentage(1/6) * ($i - 1)} {
      border-right-color: unquote(nth($colors, $i));
    }
  }
}
@keyframes borderbottomcolorshift {
  @for $i from 1 through 7 {
    #{percentage(1/6) * ($i - 1)} {
      border-bottom-color: unquote(nth($colors, $i));
    }
  }
}
@keyframes borderleftcolorshift {
  @for $i from 1 through 7 {
    #{percentage(1/6) * ($i - 1)} {
      border-left-color: unquote(nth($colors, $i));
    }
  }
}

@media (max-width: 1024px) {
  #mlh-trust-badge {
    visibility: hidden;
  }
  #mlh-banner {
    display: block;
  }
}
