@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import '_config';

.buttons {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 1em;
  grid-gap: 1em;
  
  @include media-breakpoint-down(md) {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: 1fr 1fr;
  }

  @include media-breakpoint-down(xs) {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: 1fr;
  }
}
