@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import '_config';

.buttons {
  display: flex;
  gap: 1em;
  grid-gap: 1em;
  
  @include media-breakpoint-between(sm, lg) {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: 1fr 1fr;
  }

  @include media-breakpoint-only(xs) {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: 1fr;
  }
}
