@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import '_config';

.header {
  margin-bottom: 1.5em;
}

.hackathonDef {
  background: $tertiary-background-colour;
  color: $tertiary-foreground-colour;
  padding: 5em 0;
}
