<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors errorMode="Custom" defaultResponseMode="File">
            <remove statusCode="404" />
            <error statusCode="404" path="404.html" />
        </httpErrors>
        <staticContent>
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
            <mimeMap fileExtension=".m3u8" mimeType="application/x-mpegurl" />
        </staticContent>
    </system.webServer>
</configuration>
