<section id="sponsors">
    <div class="inner-md">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-9 center-block text-center">
                    <header>
                        <h1>Sponsors</h1>
                        <p>Sponsors make this event possible from providing food to awesome APIs and technology. We offer you the chance to engage with the next generation of innovators, to demonstrate your products and teach them new things alongside unique recruitment opportunities.</p>
                        <a href="/assets/pdf/sponsordeck.pdf" class="btn">Become a Sponsor</a>
                    </header>
                </div>
            </div>
        </div>

        {% if site.event.public %}
            {% for s in site.sponsors %}
                {% assign i = forloop.index0 %}
                {% if s[0] == 'gold' %}
                    {% capture id %}gold-sponsors{% endcapture %}
                    {% capture heading %}Gold Sponsors{% endcapture %}
                {% elsif s[0] == 'silver' %}
                    {% capture id %}silver-sponsors{% endcapture %}
                    {% capture heading %}Silver Sponsors{% endcapture %}
                {% elsif s[0] == 'bronze' %}
                    {% capture id %}bronze-sponsors{% endcapture %}
                    {% capture heading %}Bronze Sponsors{% endcapture %}
                {% elsif s[0] == 'partner' %}
                    {% capture id %}partners{% endcapture %}
                    {% capture heading %}Partners{% endcapture %}
                {% endif %}

                {% if s[1].size > 0 %}
                    <div id="{{ id }}" class="container">
                        <div class="row inner-sm">
                            <div class="col-md-8 col-sm-9 center-block text-center">
                                <header>
                                    <h2 style="text-transform: uppercase;">{{ heading }}</h2>
                                </header>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% for sponsor in s[1] %}
                    {% assign j = forloop.index0 %}
                    <div id="{{ s[1][j].name }}" class="row vertical-center sponsor {{ s[1][j].shade }}-bg inner-right-xs inner-left-xs" style="background-color: {{ s[1][j].color }};">
                        <div class="col-md-5 col-md-offset-1 col-sm-6 inner-top-xs inner-right-xs inner-bottom-xs">
                            <a href="{{ s[1][j].url }}">
                                <img class="center-block" src="{{ s[1][j].logo }}" alt="{{ s[1][j].name }}" />
                            </a>
                        </div>
                        <div class="col-md-5 col-sm-6 inner-top-xs inner-bottom-xs inner-left-xs">
                            <p>{{ s[1][j].description }}</p>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
    </div>
</section>
