---
layout: main
title: Event
---


<section id="event-splash" class="jumbotron half-height background-image" style="background-image: linear-gradient({{ page.jumbotron-image-adjust }}), url(assets/images/{{ page.jumbotron-image }});">

    <div class="row justify-content-center text-center">
      <div class="col-md-{{ page.logo-width }} col-xs-12">
        <img class="img-fluid" src="/assets/images/{{ page.small-logo }}" id="event-logo">
      </div>
    </div>

    <div class="row justify-content-center text-center">
      <div id="splash-body" class="col-md-6 text-light col-xs-12">
        <h1>{{ page.name }}</h1>
        <p>{{ page.start | date: '%d %B %Y' }}</p>
        <p class="lead">{{ page.short-description}}</p>

        {% if page.show-ticket-button %}
          <a class="btn btn-primary btn-lg btn-text-light {% if page.disable-button %}  disabled {% endif %}" href="{{ page.tickets }}" >
            {{ page.ticket-button-text }}
          </a>
        {% endif %}
      </div>
    </div>
</section>

<section id="event-description" style="background-color: {{ page.color }}">
  <div class="container text-light">
    <p>{{ page.full-description }}</p>
  </div>
</section>


{% if page.show-map %}
  {% include map.html %}
{% endif %}

<section id="event-info" class="text-center">
  {{ content }}
</section>

{% if page.show-schedule %}
  {% include schedule.html %}
{% endif %}


{% if page.show-sponsors %}
{% endif %}

{% if page.show-floor-plan %}
{% endif %}

{% if page.show-wifi-details %}
  {% include internet.html internet=page.internet %}
{% endif %}

<section id="get-in-touch" class="container text-center">
  <p> Questions, queries or qualms about this event? </p>
  <a class="btn btn-primary text-light" href="mailto:{{ site.email }}">Get in touch</a>
</section>
