<!DOCTYPE html>

<html lang="en">

  {% include head.html %}

  <!-- MLH Trust Badge -->
  <a id="mlh-trust-badge" style="display:block;max-width:100px;min-width:60px;position:fixed;right:50px;top:0;width:10%;z-index:10000" href="https://mlh.io/seasons/eu-2018/events?utm_source=eu-2018&utm_medium=TrustBadge&utm_campaign=eu-2018&utm_content=gray" target="_blank"><img src="https://s3.amazonaws.com/logged-assets/trust-badge/2018/gray.svg" alt="Major League Hacking 2017 Hackathon Season" style="width:100%"></a>

  <body id="top">

    {% include header.html %}

    <main>

      <section id="mlh-banner" class="dark-bg">
        <div class="text-center">
          <a href="https://mlh.io/seasons/eu-2017/events">
            <img src="https://static.mlh.io/brand-assets/logo/official/mlh-logo-white.svg">
          </a>
        </div>
      </section>

      {{ content }}

    </main>

    {% include footer.html %}

    <script src="https://cdn.rawgit.com/requirejs/requirejs/master/require.js" data-main="/assets/js/app.min.js"></script>

  </body>
</html>
