$hackaway-orange: #f48c42;

$primary-foreground-colour: white;
$primary-background-colour: $hackaway-orange;

$secondary-foreground-colour: white;
$secondary-background-colour: #343a40;

$tertiary-foreground-colour: black;
$tertiary-background-colour: white;

$primary-button-colour: white;
$primary-button-shadow-colour: black;

$secondary-button-colour: #eb6824;
$secondary-button-shadow-colour: darken($secondary-button-colour, 20%);

$jumbotron-background-gradient: linear-gradient(to right, #f67e3a, #f39346);
$jumbotron-foreground-colour: white;

$footer-link-colour: $hackaway-orange;
$chat-link-colour: #7289DA;
$twitch-link-colour: #9146FF;
$youtube-link-colour: #FF0000;

$mobile-width: 576px;
$radius: 5px;

// $font-family-sans-serif: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
// $font-family-serif:      Georgia, "Times New Roman", Times, serif !default;
// $font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
// $font-family-base:       $font-family-sans-serif !default;
