@import "~@fontsource/anonymous-pro/index.css";
@import "~@fontsource/anonymous-pro/700.css";
@import "config.scss";
@import "~bootstrap/scss/bootstrap.scss";

.hackaway-light-theme {
  display: unset;
}
.hackaway-dark-theme {
  display: none;
}
@media (prefers-color-scheme: dark) {
  .hackaway-light-theme {
    display: none;
  }
  .hackaway-dark-theme {
    display: unset;
  }
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.link-orange {
  color: $hackaway-orange;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Anonymous Pro", $font-family-sans-serif;
}

@mixin create-button(
  $name,
  $colour,
  $background-colour,
  $shadow,
  $lighten: true
) {
  .btn-#{$name} {
    color: $colour;
    background-color: $background-colour;
    box-shadow: 0 5px $shadow;
    border-width: 0;
    font-weight: 600;

    &.disabled {
      opacity: 0.7;
    }

    &:hover,
    &:active {
      color: $colour;
      background-color: $background-colour;
      box-shadow: 0 5px $shadow;
    }
  }
}

@include create-button(
  "hackaway-youtube",
  black,
  $youtube-link-colour,
  $primary-button-shadow-colour,
  false
);
@include create-button(
  "hackaway-twitch",
  black,
  $twitch-link-colour,
  $primary-button-shadow-colour,
  false
);
@include create-button(
  "hackaway-blurple",
  white,
  $chat-link-colour,
  $primary-button-shadow-colour,
  false
);
@include create-button(
  "hackaway-white",
  $primary-button-foreground-colour,
  $primary-button-background-colour,
  $primary-button-shadow-colour,
  false
);
@include create-button(
  "hackaway-orange",
  black,
  $secondary-button-colour,
  $secondary-button-shadow-colour,
  true
);
