@import '_config';

.comingSoon {
  height: 100%;
  flex-grow: 1;

  display: grid;
  background: $jumbotron-background-gradient;
  color: $jumbotron-foreground-colour;
  align-content: center;
  justify-content: center;

  .comingSoonContainer {
    display: grid;
    gap: 2em;
    padding: 1em;
    grid-template-areas: "logo content";

    @media screen and (max-width: $mobile-width) {
      grid-template-areas: "logo" "content";
    }

    .comingSoonLogo {
      display: flex;
      grid-area: logo;
      
      img {
        height: 100px;
        align-self: center;
        justify-self: center;
      }
    }
    .comingSoonContent {
      grid-area: content;
      .comingSoonTitle {
        text-transform: uppercase;
        font-weight: bold;
        margin: 0;
      }

      .comingSoonButtons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1em;
      }
    }
  }
}
